In [11]:
import sqlalchemy as alchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, Float, BigInteger
import matplotlib.pyplot as plt
import pandas as pd 
%matplotlib inline

# Conexion con la base de datos tp32

In [12]:
NOMBRE_DB = "tp32"
USUARIO_DB = 'gaston' #gaston
PASSWORD_DB = 'gastonm1' #gastonm1
url_db = 'postgresql+psycopg2://%s:%s@localhost:5432/%s'%(USUARIO_DB, PASSWORD_DB, NOMBRE_DB)

engine = alchemy.create_engine(url_db, echo=True)
try:
    conn = engine.connect()
    conn.execute("commit")
    conn.execute("create database " + NOMBRE_DB)
    conn.close()
except Exception as e:
    print str(e)
url_db = 'postgresql+psycopg2://%s:%s@localhost:5432/%s'%(USUARIO_DB, PASSWORD_DB, NOMBRE_DB)
engine = alchemy.create_engine(url_db, echo=True)

2017-09-06 08:33:34,088 INFO sqlalchemy.engine.base.Engine select version()
2017-09-06 08:33:34,089 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,089 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-09-06 08:33:34,090 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,091 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-09-06 08:33:34,091 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,092 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-09-06 08:33:34,093 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,094 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-09-06 08:33:34,094 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,095 INFO sqlalchemy.engine.base.Engine commit
2017-09-06 08:33:34,095 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,096 INFO sqlalchemy.engine.base.Engine create database tp32
2017-09-06 08:33:34,096 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,097 INFO sqlalchemy.engine.base.Engine ROLLBACK
(psycopg2.ProgrammingError) permission denied to create database
 [SQL: 'create database tp32']

# Definicion de tablas
![Inmobilitaria](diagramas/Inmobiliaria.png)

In [13]:
Base = declarative_base()
class Customer(Base):
    __tablename__ = 'Customer'
    
    IDCust = Column(Integer, primary_key=True)
    Name = Column(String)
    Surname = Column(String)
    Address = Column(String)
    City = Column(String)
    Phone = Column(String)
    Budget = Column(Float)
    Office = Column(String)

class Estate(Base):
    __tablename__ = 'Estate'
    
    IDEstate = Column(Integer, primary_key=True)
    Category = Column(String)
    Area = Column(String)
    City = Column(String)
    Province = Column(String)
    Rooms = Column(Integer)
    Bedrooms = Column(Integer)
    Garage = Column(String)
    Meters = Column(Integer)

class Visit(Base):
    __tablename__ = 'Visit'
    
    IDVisit = Column(Integer, primary_key=True)
    Date = Column(Date)
    Duration = Column(Integer)

class Sale(Base):
    __tablename__ = 'Sale'
    
    IDSale = Column(Integer, primary_key=True)
    Date = Column(Date)
    AgreedPrice = Column(Float)
    Price = Column(Float)
    Status = Column(String)
    Time = Column(Integer)

class Agenda(Base):
    __tablename__ = 'Agenda'
    
    IDAgenda = Column(Integer, primary_key=True)
    Data = Column(String)
    Hour = Column(String)
    ClienteName = Column(String)

class Inmobiliaria(Base):
    __tablename__ = 'Inmobiliaria'
    
    ID = Column(Integer, primary_key=True)
    IDEstate = Column(Integer)
    IDCust = Column(Integer)
    IDVisit = Column(Integer)
    IDSale = Column(Integer)
    IDAgenda = Column(Integer)
    Date = Column(Date)

In [14]:
Base.metadata.create_all(engine)

2017-09-06 08:33:34,166 INFO sqlalchemy.engine.base.Engine select version()
2017-09-06 08:33:34,166 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,167 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-09-06 08:33:34,168 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,170 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-09-06 08:33:34,170 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,172 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-09-06 08:33:34,172 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,173 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-09-06 08:33:34,174 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,175 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 08:33:34,176 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-09-06 08:33:34,177 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 08:33:34,178 INFO sqlalchemy.engine.base.Engine {'name': u'Inmobiliaria'}
2017-09-06 08:33:34,179 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 08:33:34,180 INFO sqlalchemy.engine.base.Engine {'name': u'Estate'}
2017-09-06 08:33:34,181 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 08:33:34,182 INFO sqlalchemy.engine.base.Engine {'name': u'Visit'}
2017-09-06 08:33:34,184 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 08:33:34,184 INFO sqlalchemy.engine.base.Engine {'name': u'Sale'}
2017-09-06 08:33:34,186 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 08:33:34,187 INFO sqlalchemy.engine.base.Engine {'name': u'Agenda'}

# Carga de datos
 ### Mocks -> [Mockaroo](https://www.mockaroo.com/)

In [15]:
datos_customer = 'data/inmobiliaria/customer.csv'
datos_agenda = 'data/inmobiliaria/agenda.csv'
datos_sale = 'data/inmobiliaria/sale.csv'
datos_visit = 'data/inmobiliaria/visit.csv'
datos_estate = 'data/inmobiliaria/estate.csv'
datos_hecho_inmobiliaria = 'data/inmobiliaria/hecho_inmobiliaria.csv'

df_customer = pd.DataFrame.from_csv(datos_customer,sep=',')
df_agenda = pd.DataFrame.from_csv(datos_agenda,sep=',')
df_sale = pd.DataFrame.from_csv(datos_sale,sep=',')
df_visit = pd.DataFrame.from_csv(datos_visit,sep=',')
df_estate = pd.DataFrame.from_csv(datos_estate,sep=',')
df_hecho_inmobiliaria = pd.DataFrame.from_csv(datos_hecho_inmobiliaria,sep=',')

In [16]:
df_customer.to_sql("Customer", con=engine, if_exists='replace')
df_agenda.to_sql("Agenda", con=engine, if_exists='replace')
df_sale.to_sql("Sale", con=engine, if_exists='replace')
df_visit.to_sql("Visit", con=engine, if_exists='replace')
df_estate.to_sql("Estate", con=engine, if_exists='replace')
df_hecho_inmobiliaria.to_sql("HechoInmobiliaria", con=engine, if_exists='replace')

2017-09-06 08:33:34,238 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 08:33:34,239 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-09-06 08:33:34,240 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 08:33:34,241 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-09-06 08:33:34,242 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 08:33:34,243 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 08:33:34,245 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-06 08:33:34,245 INFO sqlalchemy.engine.base.Engine {'table_name': u'Customer'}
2017-09-06 08:33:34,247 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-06 08:33:34,248 INFO sqlalchemy.engine.base.Engine {'table_oid': 24726}
2017-09-06 08:33:34,250 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-06 08:33:34,250 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,252 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-06 08:33:34,252 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,256 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-06 08:33:34,257 INFO sqlalchemy.engine.base.Engine {'table_oid': 24726}
2017-09-06 08:33:34,259 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-06 08:33:34,260 INFO sqlalchemy.engine.base.Engine {'table_oid': 24726}
2017-09-06 08:33:34,262 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-06 08:33:34,262 INFO sqlalchemy.engine.base.Engine {'table': 24726}
2017-09-06 08:33:34,264 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-06 08:33:34,265 INFO sqlalchemy.engine.base.Engine {'table_oid': 24726}
2017-09-06 08:33:34,268 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-06 08:33:34,269 INFO sqlalchemy.engine.base.Engine {'table_oid': 24726}
2017-09-06 08:33:34,270 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-06 08:33:34,271 INFO sqlalchemy.engine.base.Engine {'table_oid': 24726}
2017-09-06 08:33:34,273 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Customer"
2017-09-06 08:33:34,274 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,275 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 08:33:34,279 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Customer" (
	"IDCust" BIGINT,
	"Name" TEXT,
	"Surname" TEXT,
	"Adress" TEXT,
	"City" TEXT,
	"Phone" TEXT,
	"Budget" FLOAT(53),
	"Office" TEXT
)


2017-09-06 08:33:34,279 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,294 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 08:33:34,301 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Customer_IDCust" ON "Customer" ("IDCust")
2017-09-06 08:33:34,302 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,304 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 08:33:34,307 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-06 08:33:34,321 INFO sqlalchemy.engine.base.Engine INSERT INTO "Customer" ("IDCust", "Name", "Surname", "Adress", "City", "Phone", "Budget", "Office") VALUES (%(IDCust)s, %(Name)s, %(Surname)s, %(Adress)s, %(City)s, %(Phone)s, %(Budget)s, %(Office)s)

2017-09-06 08:33:34,322 INFO sqlalchemy.engine.base.Engine ({'City': 'Babirik', 'Surname': 'Gozney', 'Name': 'Enos', 'Office': 'potenti', 'IDCust': 1, 'Budget': 51059.72, 'Phone': '62-(477)447-6111', 'Adress': '25791 Thierer Lane'}, {'City': 'Jiaowei', 'Surname': 'Gale', 'Name': 'Saundra', 'Office': 'cras', 'IDCust': 2, 'Budget': 72669.0, 'Phone': '86-(911)905-6149', 'Adress': '47 Dunning Crossing'}, {'City': 'Beregovoy', 'Surname': 'Labbett', 'Name': 'Grethel', 'Office': 'nunc', 'IDCust': 3, 'Budget': 12551.79, 'Phone': '7-(813)507-8524', 'Adress': '8844 Mitchell Drive'}, {'City': 'Young', 'Surname': 'Gayther', 'Name': 'Jedidiah', 'Office': 'vestibulum', 'IDCust': 4, 'Budget': 68349.68, 'Phone': '598-(762)860-2698', 'Adress': '5 Arrowood Center'}, {'City': 'Barroso', 'Surname': 'McKimmie', 'Name': 'Eleonora', 'Office': 'ut', 'IDCust': 5, 'Budget': 56635.63, 'Phone': '55-(410)522-9669', 'Adress': '0 Roxbury Junction'}, {'City': 'Barranqueras', 'Surname': 'Kybird', 'Name': 'Pearce', 'Office': 'aliquam', 'IDCust': 6, 'Budget': 77835.4, 'Phone': '54-(975)404-2824', 'Adress': '1955 Talmadge Plaza'}, {'City': 'Bazar-Korgon', 'Surname': 'Hylden', 'Name': 'Daisy', 'Office': 'vel', 'IDCust': 7, 'Budget': 68078.71, 'Phone': '996-(578)844-2440', 'Adress': '8318 Paget Parkway'}, {'City': 'Pedro Garc\xc3\xada', 'Surname': 'Brixey', 'Name': 'Charmian', 'Office': 'metus', 'IDCust': 8, 'Budget': 28787.29, 'Phone': '1-(570)523-8177', 'Adress': '697 Arapahoe Junction'}  ... displaying 10 of 1000 total bound parameter sets ...  {'City': 'Huangqiang', 'Surname': 'St. Leger', 'Name': 'Fred', 'Office': 'maecenas', 'IDCust': 999, 'Budget': 62639.82, 'Phone': '86-(175)966-3186', 'Adress': '75 Killdeer Pass'}, {'City': 'Phitsanulok', 'Surname': 'Abramsky', 'Name': 'Abbie', 'Office': 'suspendisse', 'IDCust': 1000, 'Budget': 89457.75, 'Phone': '66-(192)540-1362', 'Adress': '90 Northview Avenue'})
2017-09-06 08:33:34,404 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 08:33:34,411 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 08:33:34,412 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 08:33:34,418 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 08:33:34,418 INFO sqlalchemy.engine.base.Engine {'name': u'Agenda'}
2017-09-06 08:33:34,420 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 08:33:34,421 INFO sqlalchemy.engine.base.Engine {'name': u'Agenda'}
2017-09-06 08:33:34,422 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 08:33:34,423 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 08:33:34,425 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-06 08:33:34,426 INFO sqlalchemy.engine.base.Engine {'table_name': u'Agenda'}
2017-09-06 08:33:34,427 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-06 08:33:34,428 INFO sqlalchemy.engine.base.Engine {'table_oid': 24733}
2017-09-06 08:33:34,430 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-06 08:33:34,430 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,432 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-06 08:33:34,433 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,436 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-06 08:33:34,436 INFO sqlalchemy.engine.base.Engine {'table_oid': 24733}
2017-09-06 08:33:34,438 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-06 08:33:34,439 INFO sqlalchemy.engine.base.Engine {'table_oid': 24733}
2017-09-06 08:33:34,441 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-06 08:33:34,442 INFO sqlalchemy.engine.base.Engine {'table': 24733}
2017-09-06 08:33:34,443 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-06 08:33:34,444 INFO sqlalchemy.engine.base.Engine {'table_oid': 24733}

2017-09-06 08:33:34,447 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-06 08:33:34,448 INFO sqlalchemy.engine.base.Engine {'table_oid': 24733}
2017-09-06 08:33:34,449 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-06 08:33:34,450 INFO sqlalchemy.engine.base.Engine {'table_oid': 24733}
2017-09-06 08:33:34,452 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Agenda"
2017-09-06 08:33:34,453 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,454 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 08:33:34,462 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Agenda" (
	"IDAgenda" BIGINT,
	"Date" TEXT,
	"Hour" BIGINT,
	"Duration" FLOAT(53),
	"ClientName" TEXT
)


2017-09-06 08:33:34,463 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,466 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 08:33:34,467 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Agenda_IDAgenda" ON "Agenda" ("IDAgenda")
2017-09-06 08:33:34,468 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,470 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 08:33:34,473 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-06 08:33:34,482 INFO sqlalchemy.engine.base.Engine INSERT INTO "Agenda" ("IDAgenda", "Date", "Hour", "Duration", "ClientName") VALUES (%(IDAgenda)s, %(Date)s, %(Hour)s, %(Duration)s, %(ClientName)s)
2017-09-06 08:33:34,483 INFO sqlalchemy.engine.base.Engine ({'Date': '7/30/2017', 'Duration': 80.33, 'ClientName': 'Beverie', 'Hour': 74, 'IDAgenda': 1}, {'Date': '9/6/2016', 'Duration': 21.53, 'ClientName': 'Engelbert', 'Hour': 15, 'IDAgenda': 2}, {'Date': '12/17/2016', 'Duration': 39.66, 'ClientName': 'Leonhard', 'Hour': 44, 'IDAgenda': 3}, {'Date': '9/19/2016', 'Duration': 77.34, 'ClientName': 'Ermanno', 'Hour': 46, 'IDAgenda': 4}, {'Date': '11/16/2016', 'Duration': 79.48, 'ClientName': 'Heidie', 'Hour': 50, 'IDAgenda': 5}, {'Date': '12/1/2016', 'Duration': 66.92, 'ClientName': 'Alisha', 'Hour': 48, 'IDAgenda': 6}, {'Date': '1/24/2017', 'Duration': 46.23, 'ClientName': 'Tabbitha', 'Hour': 37, 'IDAgenda': 7}, {'Date': '5/26/2017', 'Duration': 18.03, 'ClientName': 'Emily', 'Hour': 83, 'IDAgenda': 8}  ... displaying 10 of 1000 total bound parameter sets ...  {'Date': '8/26/2017', 'Duration': 38.91, 'ClientName': 'Norah', 'Hour': 16, 'IDAgenda': 999}, {'Date': '1/1/2017', 'Duration': 54.44, 'ClientName': 'Hettie', 'Hour': 98, 'IDAgenda': 1000})
2017-09-06 08:33:34,544 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 08:33:34,551 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 08:33:34,552 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 08:33:34,558 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 08:33:34,558 INFO sqlalchemy.engine.base.Engine {'name': u'Sale'}
2017-09-06 08:33:34,559 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 08:33:34,560 INFO sqlalchemy.engine.base.Engine {'name': u'Sale'}
2017-09-06 08:33:34,561 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 08:33:34,562 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 08:33:34,564 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-06 08:33:34,564 INFO sqlalchemy.engine.base.Engine {'table_name': u'Sale'}
2017-09-06 08:33:34,566 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-06 08:33:34,566 INFO sqlalchemy.engine.base.Engine {'table_oid': 24740}
2017-09-06 08:33:34,567 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-06 08:33:34,568 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,569 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-06 08:33:34,570 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,572 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-06 08:33:34,573 INFO sqlalchemy.engine.base.Engine {'table_oid': 24740}
2017-09-06 08:33:34,574 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-06 08:33:34,575 INFO sqlalchemy.engine.base.Engine {'table_oid': 24740}
2017-09-06 08:33:34,576 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-06 08:33:34,577 INFO sqlalchemy.engine.base.Engine {'table': 24740}
2017-09-06 08:33:34,579 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-06 08:33:34,579 INFO sqlalchemy.engine.base.Engine {'table_oid': 24740}
2017-09-06 08:33:34,582 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-06 08:33:34,583 INFO sqlalchemy.engine.base.Engine {'table_oid': 24740}
2017-09-06 08:33:34,584 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-06 08:33:34,585 INFO sqlalchemy.engine.base.Engine {'table_oid': 24740}
2017-09-06 08:33:34,586 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Sale"
2017-09-06 08:33:34,587 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,588 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 08:33:34,592 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Sale" (
	"IDSale" BIGINT,
	"Date" TEXT,
	"AgreedPrice" FLOAT(53),
	"Price" FLOAT(53),
	"Status" TEXT,
	"Time" TEXT
)


2017-09-06 08:33:34,592 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,595 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 08:33:34,596 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Sale_IDSale" ON "Sale" ("IDSale")
2017-09-06 08:33:34,597 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,610 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 08:33:34,618 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-06 08:33:34,633 INFO sqlalchemy.engine.base.Engine INSERT INTO "Sale" ("IDSale", "Date", "AgreedPrice", "Price", "Status", "Time") VALUES (%(IDSale)s, %(Date)s, %(AgreedPrice)s, %(Price)s, %(Status)s, %(Time)s)
2017-09-06 08:33:34,633 INFO sqlalchemy.engine.base.Engine ({'Status': 'erat', 'IDSale': 1, 'Price': 48.56, 'AgreedPrice': 99.11, 'Time': '4:55 AM', 'Date': '7/4/2017'}, {'Status': 'ultrices', 'IDSale': 2, 'Price': 62.21, 'AgreedPrice': 92.48, 'Time': '3:29 AM', 'Date': '12/17/2016'}, {'Status': 'integer', 'IDSale': 3, 'Price': 53.87, 'AgreedPrice': 69.94, 'Time': '6:37 AM', 'Date': '11/11/2016'}, {'Status': 'massa', 'IDSale': 4, 'Price': 72.49, 'AgreedPrice': 4.89, 'Time': '7:26 AM', 'Date': '6/19/2017'}, {'Status': 'quisque', 'IDSale': 5, 'Price': 70.53, 'AgreedPrice': 3.32, 'Time': '1:07 PM', 'Date': '3/31/2017'}, {'Status': 'odio', 'IDSale': 6, 'Price': 13.42, 'AgreedPrice': 64.84, 'Time': '1:46 PM', 'Date': '9/13/2016'}, {'Status': 'sed', 'IDSale': 7, 'Price': 2.47, 'AgreedPrice': 37.61, 'Time': '10:36 PM', 'Date': '4/4/2017'}, {'Status': 'primis', 'IDSale': 8, 'Price': 69.61, 'AgreedPrice': 61.46, 'Time': '11:37 PM', 'Date': '10/16/2016'}  ... displaying 10 of 1000 total bound parameter sets ...  {'Status': 'platea', 'IDSale': 999, 'Price': 19.56, 'AgreedPrice': 16.92, 'Time': '3:40 AM', 'Date': '12/25/2016'}, {'Status': 'sem', 'IDSale': 1000, 'Price': 84.4, 'AgreedPrice': 50.55, 'Time': '10:16 PM', 'Date': '6/22/2017'})
2017-09-06 08:33:34,701 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 08:33:34,703 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 08:33:34,704 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 08:33:34,707 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 08:33:34,708 INFO sqlalchemy.engine.base.Engine {'name': u'Visit'}
2017-09-06 08:33:34,709 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 08:33:34,710 INFO sqlalchemy.engine.base.Engine {'name': u'Visit'}
2017-09-06 08:33:34,711 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 08:33:34,712 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 08:33:34,714 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-06 08:33:34,715 INFO sqlalchemy.engine.base.Engine {'table_name': u'Visit'}
2017-09-06 08:33:34,716 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-06 08:33:34,717 INFO sqlalchemy.engine.base.Engine {'table_oid': 24747}
2017-09-06 08:33:34,719 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-06 08:33:34,719 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,721 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-06 08:33:34,722 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,724 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-06 08:33:34,725 INFO sqlalchemy.engine.base.Engine {'table_oid': 24747}
2017-09-06 08:33:34,726 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-06 08:33:34,727 INFO sqlalchemy.engine.base.Engine {'table_oid': 24747}
2017-09-06 08:33:34,728 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-06 08:33:34,729 INFO sqlalchemy.engine.base.Engine {'table': 24747}
2017-09-06 08:33:34,730 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-06 08:33:34,731 INFO sqlalchemy.engine.base.Engine {'table_oid': 24747}
2017-09-06 08:33:34,734 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-06 08:33:34,734 INFO sqlalchemy.engine.base.Engine {'table_oid': 24747}
2017-09-06 08:33:34,736 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-06 08:33:34,737 INFO sqlalchemy.engine.base.Engine {'table_oid': 24747}
2017-09-06 08:33:34,739 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Visit"
2017-09-06 08:33:34,740 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,741 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 08:33:34,743 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Visit" (
	"IDVisit" BIGINT,
	"Date" TEXT,
	"Duration" FLOAT(53)
)


2017-09-06 08:33:34,744 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,757 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 08:33:34,765 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Visit_IDVisit" ON "Visit" ("IDVisit")
2017-09-06 08:33:34,766 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,773 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 08:33:34,775 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-06 08:33:34,781 INFO sqlalchemy.engine.base.Engine INSERT INTO "Visit" ("IDVisit", "Date", "Duration") VALUES (%(IDVisit)s, %(Date)s, %(Duration)s)
2017-09-06 08:33:34,782 INFO sqlalchemy.engine.base.Engine ({'Date': '1/21/2017', 'Duration': 85.6, 'IDVisit': 1}, {'Date': '8/28/2017', 'Duration': 94.5, 'IDVisit': 2}, {'Date': '4/23/2017', 'Duration': 31.4, 'IDVisit': 3}, {'Date': '1/15/2017', 'Duration': 14.9, 'IDVisit': 4}, {'Date': '2/4/2017', 'Duration': 94.1, 'IDVisit': 5}, {'Date': '10/24/2016', 'Duration': 14.7, 'IDVisit': 6}, {'Date': '10/18/2016', 'Duration': 39.3, 'IDVisit': 7}, {'Date': '8/8/2017', 'Duration': 55.7, 'IDVisit': 8}  ... displaying 10 of 1000 total bound parameter sets ...  {'Date': '3/22/2017', 'Duration': 84.7, 'IDVisit': 999}, {'Date': '10/25/2016', 'Duration': 83.9, 'IDVisit': 1000})
2017-09-06 08:33:34,838 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 08:33:34,839 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 08:33:34,840 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 08:33:34,846 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 08:33:34,847 INFO sqlalchemy.engine.base.Engine {'name': u'Estate'}
2017-09-06 08:33:34,848 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 08:33:34,848 INFO sqlalchemy.engine.base.Engine {'name': u'Estate'}
2017-09-06 08:33:34,850 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 08:33:34,850 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 08:33:34,852 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-06 08:33:34,852 INFO sqlalchemy.engine.base.Engine {'table_name': u'Estate'}
2017-09-06 08:33:34,854 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-06 08:33:34,854 INFO sqlalchemy.engine.base.Engine {'table_oid': 24754}
2017-09-06 08:33:34,856 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-06 08:33:34,856 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,858 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-06 08:33:34,858 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,861 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-06 08:33:34,893 INFO sqlalchemy.engine.base.Engine {'table_oid': 24754}

2017-09-06 08:33:34,894 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-06 08:33:34,895 INFO sqlalchemy.engine.base.Engine {'table_oid': 24754}
2017-09-06 08:33:34,897 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-06 08:33:34,897 INFO sqlalchemy.engine.base.Engine {'table': 24754}
2017-09-06 08:33:34,899 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-06 08:33:34,900 INFO sqlalchemy.engine.base.Engine {'table_oid': 24754}
2017-09-06 08:33:34,903 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-06 08:33:34,904 INFO sqlalchemy.engine.base.Engine {'table_oid': 24754}
2017-09-06 08:33:34,906 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-06 08:33:34,906 INFO sqlalchemy.engine.base.Engine {'table_oid': 24754}
2017-09-06 08:33:34,908 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Estate"
2017-09-06 08:33:34,909 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,910 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 08:33:34,919 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Estate" (
	"IDEstate" BIGINT,
	"Category" TEXT,
	"Area" TEXT,
	"City" TEXT,
	"Province" TEXT,
	"Rooms" BIGINT,
	"Bedrooms" BIGINT,
	"Garage" BOOLEAN,
	"Meters" FLOAT(53)
)


2017-09-06 08:33:34,920 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,929 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 08:33:34,931 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Estate_IDEstate" ON "Estate" ("IDEstate")
2017-09-06 08:33:34,932 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:34,934 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 08:33:34,937 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-06 08:33:34,950 INFO sqlalchemy.engine.base.Engine INSERT INTO "Estate" ("IDEstate", "Category", "Area", "City", "Province", "Rooms", "Bedrooms", "Garage", "Meters") VALUES (%(IDEstate)s, %(Category)s, %(Area)s, %(City)s, %(Province)s, %(Rooms)s, %(Bedrooms)s, %(Garage)s, %(Meters)s)
2017-09-06 08:33:34,950 INFO sqlalchemy.engine.base.Engine ({'Province': 'Kentucky', 'City': 'Lexington', 'Area': 'tempor', 'Bedrooms': 2, 'Category': 'etiam', 'Garage': False, 'Meters': 25.4, 'Rooms': 43, 'IDEstate': 1}, {'Province': 'New York', 'City': 'New York City', 'Area': 'lobortis', 'Bedrooms': 96, 'Category': 'hendrerit', 'Garage': True, 'Meters': 96.9, 'Rooms': 90, 'IDEstate': 2}, {'Province': 'Texas', 'City': 'Houston', 'Area': 'consequat', 'Bedrooms': 14, 'Category': 'sociis', 'Garage': False, 'Meters': 20.3, 'Rooms': 41, 'IDEstate': 3}, {'Province': 'California', 'City': 'Sacramento', 'Area': 'risus', 'Bedrooms': 2, 'Category': 'accumsan', 'Garage': False, 'Meters': 73.7, 'Rooms': 96, 'IDEstate': 4}, {'Province': 'New York', 'City': 'New York City', 'Area': 'quam', 'Bedrooms': 67, 'Category': 'ligula', 'Garage': True, 'Meters': 35.1, 'Rooms': 65, 'IDEstate': 5}, {'Province': 'Alabama', 'City': 'Montgomery', 'Area': 'vel', 'Bedrooms': 12, 'Category': 'congue', 'Garage': False, 'Meters': 97.9, 'Rooms': 51, 'IDEstate': 6}, {'Province': 'Massachusetts', 'City': 'Watertown', 'Area': 'lectus', 'Bedrooms': 87, 'Category': 'luctus', 'Garage': False, 'Meters': 54.1, 'Rooms': 82, 'IDEstate': 7}, {'Province': 'Illinois', 'City': 'Chicago', 'Area': 'ut', 'Bedrooms': 87, 'Category': 'sem', 'Garage': True, 'Meters': 90.6, 'Rooms': 76, 'IDEstate': 8}  ... displaying 10 of 1000 total bound parameter sets ...  {'Province': 'Missouri', 'City': 'Springfield', 'Area': 'nec', 'Bedrooms': 61, 'Category': 'sit', 'Garage': True, 'Meters': 11.7, 'Rooms': 45, 'IDEstate': 999}, {'Province': 'Florida', 'City': 'Fort Lauderdale', 'Area': 'ut', 'Bedrooms': 86, 'Category': 'a', 'Garage': False, 'Meters': 13.4, 'Rooms': 42, 'IDEstate': 1000})
2017-09-06 08:33:35,019 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 08:33:35,026 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 08:33:35,027 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 08:33:35,031 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 08:33:35,032 INFO sqlalchemy.engine.base.Engine {'name': u'HechoInmobiliaria'}
2017-09-06 08:33:35,033 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 08:33:35,033 INFO sqlalchemy.engine.base.Engine {'name': u'HechoInmobiliaria'}
2017-09-06 08:33:35,035 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 08:33:35,035 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 08:33:35,037 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-06 08:33:35,037 INFO sqlalchemy.engine.base.Engine {'table_name': u'HechoInmobiliaria'}
2017-09-06 08:33:35,039 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-06 08:33:35,039 INFO sqlalchemy.engine.base.Engine {'table_oid': 24761}
2017-09-06 08:33:35,040 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-06 08:33:35,041 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:35,042 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-06 08:33:35,042 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:35,044 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-06 08:33:35,044 INFO sqlalchemy.engine.base.Engine {'table_oid': 24761}
2017-09-06 08:33:35,045 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-06 08:33:35,046 INFO sqlalchemy.engine.base.Engine {'table_oid': 24761}
2017-09-06 08:33:35,047 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-06 08:33:35,047 INFO sqlalchemy.engine.base.Engine {'table': 24761}
2017-09-06 08:33:35,049 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-06 08:33:35,049 INFO sqlalchemy.engine.base.Engine {'table_oid': 24761}
2017-09-06 08:33:35,052 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-06 08:33:35,052 INFO sqlalchemy.engine.base.Engine {'table_oid': 24761}
2017-09-06 08:33:35,053 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-06 08:33:35,054 INFO sqlalchemy.engine.base.Engine {'table_oid': 24761}
2017-09-06 08:33:35,055 INFO sqlalchemy.engine.base.Engine
DROP TABLE "HechoInmobiliaria"
2017-09-06 08:33:35,056 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:35,057 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 08:33:35,059 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "HechoInmobiliaria" (
	"IDHecho" BIGINT,
	"IDEstate" BIGINT,
	"IDCust" BIGINT,
	"IDVisit" BIGINT,
	"IDSale" BIGINT,
	"IDAgenda" BIGINT,
	"Date" TEXT
)


2017-09-06 08:33:35,059 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:35,062 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 08:33:35,063 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_HechoInmobiliaria_IDHecho" ON "HechoInmobiliaria" ("IDHecho")
2017-09-06 08:33:35,063 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 08:33:35,076 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 08:33:35,084 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-06 08:33:35,094 INFO sqlalchemy.engine.base.Engine INSERT INTO "HechoInmobiliaria" ("IDHecho", "IDEstate", "IDCust", "IDVisit", "IDSale", "IDAgenda", "Date") VALUES (%(IDHecho)s, %(IDEstate)s, %(IDCust)s, %(IDVisit)s, %(IDSale)s, %(IDAgenda)s, %(Date)s)
2017-09-06 08:33:35,095 INFO sqlalchemy.engine.base.Engine ({'IDSale': 104, 'IDHecho': 1, 'IDCust': 96, 'IDVisit': 800, 'IDAgenda': 958, 'IDEstate': 137, 'Date': '5/27/2012'}, {'IDSale': 30, 'IDHecho': 2, 'IDCust': 185, 'IDVisit': 598, 'IDAgenda': 311, 'IDEstate': 233, 'Date': '2/12/2007'}, {'IDSale': 323, 'IDHecho': 3, 'IDCust': 229, 'IDVisit': 60, 'IDAgenda': 980, 'IDEstate': 329, 'Date': '7/25/2013'}, {'IDSale': 509, 'IDHecho': 4, 'IDCust': 996, 'IDVisit': 95, 'IDAgenda': 800, 'IDEstate': 672, 'Date': '9/7/2015'}, {'IDSale': 111, 'IDHecho': 5, 'IDCust': 811, 'IDVisit': 801, 'IDAgenda': 786, 'IDEstate': 134, 'Date': '12/5/2008'}, {'IDSale': 868, 'IDHecho': 6, 'IDCust': 783, 'IDVisit': 303, 'IDAgenda': 872, 'IDEstate': 865, 'Date': '1/7/2014'}, {'IDSale': 105, 'IDHecho': 7, 'IDCust': 568, 'IDVisit': 909, 'IDAgenda': 784, 'IDEstate': 214, 'Date': '7/18/2014'}, {'IDSale': 905, 'IDHecho': 8, 'IDCust': 724, 'IDVisit': 93, 'IDAgenda': 709, 'IDEstate': 658, 'Date': '5/1/2016'}  ... displaying 10 of 1000 total bound parameter sets ...  {'IDSale': 344, 'IDHecho': 999, 'IDCust': 117, 'IDVisit': 18, 'IDAgenda': 480, 'IDEstate': 362, 'Date': '8/8/2009'}, {'IDSale': 979, 'IDHecho': 1000, 'IDCust': 671, 'IDVisit': 410, 'IDAgenda': 543, 'IDEstate': 170, 'Date': '1/10/2010'})
2017-09-06 08:33:35,159 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 08:33:35,166 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 08:33:35,167 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}

# Consultas

### 1- Que tipo de propiedad se vendio por el precio mas alto con respecto a cada ciudad y meses?

In [27]:
def get_propiedad_precio_ciudad_mes():
   
    string_sql = """
    select hi."IDHecho",hi."IDSale", hi."IDEstate", s."AgreedPrice", e."City", s."Date" from "HechoInmobiliaria" as hi 
    join "Sale" as s on hi."IDSale" = s."IDSale" 
    join "Estate" as e on hi."IDEstate" = e."IDEstate" 
    order by e."City" asc, s."AgreedPrice" desc limit 20;
    """
    resultado  = pd.read_sql(string_sql, engine)
    return resultado

get_propiedad_precio_ciudad_mes()

2017-09-06 09:15:34,665 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 09:15:34,666 INFO sqlalchemy.engine.base.Engine {'name': u'\n    select hi."IDHecho",hi."IDSale", hi."IDEstate", s."AgreedPrice", e."City", s."Date" from "HechoInmobiliaria" as hi \n    join "Sale" as s on hi."IDSale" = s."IDSale" \n    join "Estate" as e on hi."IDEstate" = e."IDEstate" \n    order by e."City" asc, s."AgreedPrice" desc limit 20;\n    '}
2017-09-06 09:15:34,667 INFO sqlalchemy.engine.base.Engine
    select hi."IDHecho",hi."IDSale", hi."IDEstate", s."AgreedPrice", e."City", s."Date" from "HechoInmobiliaria" as hi
    join "Sale" as s on hi."IDSale" = s."IDSale"
    join "Estate" as e on hi."IDEstate" = e."IDEstate"
    order by e."City" asc, s."AgreedPrice" desc limit 20;

2017-09-06 09:15:34,668 INFO sqlalchemy.engine.base.Engine {}

    IDHecho  IDSale  IDEstate  AgreedPrice         City        Date
0       288     497       958        81.59      Abilene   9/12/2016
1       895      56       853        58.13        Aiken  11/27/2016
2       224     841       853         2.18        Aiken   12/5/2016
3       776     761       387        21.47        Akron    9/1/2017
4       245     355       767        81.89       Albany    8/8/2017
5       466     782       725        64.93       Albany   1/20/2017
6        24     940       725        19.68       Albany   2/20/2017
7       377     742       725        16.66       Albany  12/20/2016
8       943     314        94        15.91       Albany  12/20/2016
9       361     587       317        81.10  Albuquerque   1/11/2017
10      354     313       996        75.77  Albuquerque    6/7/2017
11       67     629       711        58.26  Albuquerque   10/7/2016
12      459     142       317        36.69  Albuquerque   4/20/2017
13      794      27       711         7.01  Albuquerque   5/30/2017
14      317      19       330        94.44   Alexandria   4/14/2017
15      447     359       430        92.76   Alexandria  12/11/2016
16      735     311       567        90.58   Alexandria    2/4/2017
17      879     311       567        90.58   Alexandria    2/4/2017
18      576     707       397        57.40   Alexandria   5/30/2017
19      295     653       861        59.59     Amarillo   3/29/2017

### 2- Quien ha comprado un piso con el precio mas alto con respecto a cada mes?

In [32]:
def get_propiedad_precio_alto_mes():
   
    string_sql = """
    select hi."IDHecho",hi."IDSale", c."IDCust", concat(c."Name",' ',c."Surname") as nombre, s."AgreedPrice", s."Date", e."City" from "HechoInmobiliaria" as hi 
    join "Sale" as s on hi."IDSale" = s."IDSale" 
    join "Estate" as e on hi."IDEstate" = e."IDEstate" 
    join "Customer" as c on hi."IDCust" = c."IDCust"
    order by s."Date" asc, s."AgreedPrice" desc limit 20;
    """
    resultado  = pd.read_sql(string_sql, engine)
    return resultado

get_propiedad_precio_alto_mes()

2017-09-06 09:26:18,559 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 09:26:18,560 INFO sqlalchemy.engine.base.Engine {'name': u'\n    select hi."IDHecho",hi."IDSale", c."IDCust", concat(c."Name",\' \',c."Surname") as nombre, s."AgreedPrice", s."Date", e."City" from "HechoInmo ... (94 characters truncated) ...  hi."IDEstate" = e."IDEstate" \n    join "Customer" as c on hi."IDCust" = c."IDCust"\n    order by s."Date" asc, s."AgreedPrice" desc limit 20;\n    '}
2017-09-06 09:26:18,562 INFO sqlalchemy.engine.base.Engine
    select hi."IDHecho",hi."IDSale", c."IDCust", concat(c."Name",' ',c."Surname") as nombre, s."AgreedPrice", s."Date", e."City" from "HechoInmobiliaria" as hi
    join "Sale" as s on hi."IDSale" = s."IDSale"
    join "Estate" as e on hi."IDEstate" = e."IDEstate"
    join "Customer" as c on hi."IDCust" = c."IDCust"
    order by s."Date" asc, s."AgreedPrice" desc limit 20;

2017-09-06 09:26:18,562 INFO sqlalchemy.engine.base.Engine {}

,IDHecho,IDSale,IDCust,nombre,AgreedPrice,Date,City
0,849,239,48,Dante Finnimore,46.52,10/10/2016,San Francisco
1,791,319,416,Rich Reeken,38.41,10/10/2016,Washington
2,111,319,795,Ripley Lorans,38.41,10/10/2016,Silver Spring
3,755,319,516,Estrellita Harmstone,38.41,10/10/2016,Lansing
4,98,319,980,Julianna Sinncock,38.41,10/10/2016,Sacramento
5,986,756,829,Adey MacGibbon,5.38,10/11/2016,New York City
6,589,291,570,Susi Chessel,2.00,10/11/2016,Louisville
7,163,494,784,Mady Batman,72.53,10/1/2016,Lexington
8,241,494,31,Clemmie Henderson,72.53,10/1/2016,Nashville
9,810,494,413,Sam Clear,72.53,10/1/2016,Las Vegas
10,425,494,783,Teodoro Fenlon,72.53,10/1/2016,Pasadena
11,225,210,334,Christoffer Kelwick,14.18,10/1/2016,Longview
12,441,446,232,Almire Hurdwell,10.00,10/1/2016,Little Rock
13,990,674,743,Kori Shipston,64.38,10/12/2016,Jacksonville
14,832,674,55,Rubetta Goodbanne,64.38,10/12/2016,Asheville
15,496,674,177,Myrwyn Chrippes,64.38,10/12/2016,Long Beach
16,421,649,993,Guinevere Oade,61.46,10/12/2016,Birmingham
17,253,679,338,Lacy Condell,23.62,10/12/2016,Syracuse
18,616,679,319,Lelah Farnall,23.62,10/12/2016,Richmond
19,681,627,984,Frederico Ives,8.56,10/12/2016,Lancaster

### 3- Cual es la duracion media de visitas en las propiedades de cada categora?

In [43]:
def get_tiempo_prom_visitas_x_cat():
   
    string_sql = """
    select e."Category", sum(v."Duration")as tiempo_total, 
    (select count(*) from "Estate" as eee where eee."Category" = e."Category" limit 1) as cant_visitas,
    (sum(v."Duration")/(select count(*) from "Estate" as ee where ee."Category" = e."Category" limit 1)) as Promedio 
    from "HechoInmobiliaria" as hi 
    join "Visit" as v on hi."IDVisit" = v."IDVisit" 
    join "Estate" as e on hi."IDEstate" = e."IDEstate" 
    group by e."Category" order by e."Category" asc;
    """
    resultado  = pd.read_sql(string_sql, engine)
    return resultado

get_tiempo_prom_visitas_x_cat()

2017-09-06 09:46:40,158 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 09:46:40,159 INFO sqlalchemy.engine.base.Engine {'name': u'\n    select e."Category", sum(v."Duration")as tiempo_total, \n    (select count(*) from "Estate" as eee where eee."Category" = e."Category" limit 1 ... (196 characters truncated) ... v on hi."IDVisit" = v."IDVisit" \n    join "Estate" as e on hi."IDEstate" = e."IDEstate" \n    group by e."Category" order by e."Category" asc;\n    '}
2017-09-06 09:46:40,160 INFO sqlalchemy.engine.base.Engine
    select e."Category", sum(v."Duration")as tiempo_total,
    (select count(*) from "Estate" as eee where eee."Category" = e."Category" limit 1) as cant_visitas,
    (sum(v."Duration")/(select count(*) from "Estate" as ee where ee."Category" = e."Category" limit 1)) as Promedio
    from "HechoInmobiliaria" as hi
    join "Visit" as v on hi."IDVisit" = v."IDVisit"
    join "Estate" as e on hi."IDEstate" = e."IDEstate"
    group by e."Category" order by e."Category" asc;

2017-09-06 09:46:40,161 INFO sqlalchemy.engine.base.Engine {}

         Category  tiempo_total  cant_visitas    promedio
0               a         128.2             8   16.025000
1              ac         440.9             8   55.112500
2        accumsan         661.6             6  110.266667
3      adipiscing         202.2             3   67.400000
4          aenean          60.6             4   15.150000
5         aliquam         178.0             4   44.500000
6         aliquet         289.0             5   57.800000
7            amet         900.6            18   50.033333
8            ante         618.3             7   88.328571
9            arcu          94.9             2   47.450000
10             at         504.4            11   45.854545
11          augue         224.4             7   32.057143
12       bibendum         129.1             3   43.033333
13        blandit         452.6             6   75.433333
14        commodo         426.0             3  142.000000
15    condimentum         561.1             5  112.220000
16         congue         458.5            10   45.850000
17   consectetuer         184.7             3   61.566667
18      consequat         608.8             8   76.100000
19      convallis         145.6             4   36.400000
20           cras         413.1             6   68.850000
21        cubilia         268.5             2  134.250000
22            cum         209.2             3   69.733333
23      curabitur         130.8             2   65.400000
24         cursus         227.2             4   56.800000
25        dapibus        1067.6             8  133.450000
26           diam         276.0             7   39.428571
27       dictumst         135.7             1  135.700000
28          dolor         247.0             5   49.400000
29          donec         267.5             9   29.722222
..            ...           ...           ...         ...
123        sapien         600.6            11   54.600000
124   scelerisque         114.4             1  114.400000
125           sed         898.0            18   49.888889
126           sem         248.0             8   31.000000
127        semper         586.1             6   97.683333
128           sit         893.7            21   42.557143
129        sociis         141.0             3   47.000000
130       sodales         492.2             5   98.440000
131  sollicitudin         138.3             5   27.660000
132      suscipit         119.8             3   39.933333
133   suspendisse         410.9             4  102.725000
134        tellus         156.7             3   52.233333
135        tempus         235.1             2  117.550000
136     tincidunt         231.5             4   57.875000
137        tortor         205.1             4   51.275000
138     tristique         170.2             5   34.040000
139        turpis         443.8             9   49.311111
140   ullamcorper         223.9             3   74.633333
141      ultrices         306.8            12   25.566667
142          urna          40.1             1   40.100000
143            ut        1207.1            24   50.295833
144      vehicula          75.4             1   75.400000
145           vel         344.8             8   43.100000
146         velit         101.8             1  101.800000
147     venenatis          90.6             5   18.120000
148    vestibulum         894.1            20   44.705000
149       vivamus         498.6             6   83.100000
150       viverra         238.4             3   79.466667
151      volutpat         481.5            10   48.150000
152     vulputate         553.8             7   79.114286

[153 rows x 4 columns]